body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif; /* Sets Times New Roman as the font */
    background: #fff;
    color: #333;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
}
.nav {
    flex-basis: 50px;
    background: #f4f4f4;
    padding: 20px;
    display: block;
    color: #000;
    font-size: 14px;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    padding: 8px 0;
}
.nav a {
    text-decoration: none;
    color: #000;
    display: block;
}
.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.photo-container {
    margin-bottom: 40px; /* Adds space between each photo */
    text-align: center; /* Centers the content */
    padding-top: 0; /* Removes any padding at the top that might look like a border */
}
.photo-title {
    font-size: 18px; /* Slightly larger font for titles */
    margin-bottom: 10px; /* Space between title and photo */
}
.photo-img {
    width: 100%; /* Full width to scale with the container */
    max-width: 800px; /* Maximum width to ensure photos are not overly large */
    height: auto; /* Maintains the aspect ratio */
    margin: auto; /* Centers the image horizontally */
}
@media (max-width: 768px) {
    .nav {
        display: none;
    }
}
